nav {
  background: $gunmetal;
  position: fixed;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 20px;
  ul {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 50px;
    li {
      font-family: $font2;
      padding: 10px 15px;
      a, a:visited{
        color: $white;
        cursor: pointer;
        &:hover {
          color: $beige;
        }
      } 
    }
  }
  .contact-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    i {
      margin-right: 15px;
    }
    p {
      font-size: 1.2rem;
    }
  }
}