.photos-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;

    .photos-text-container {
      background: $beige;
      padding: 75px 0 30px;
      border-bottom: 1px solid $brown;
    }

    .photos-grid-container {
      max-width: 1300px;
      width: 80%;
      height: auto;
      margin: 50px auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      justify-content: center;
      gap: 10px;
      grid-auto-flow: dense;

      .grid-item {
        width: 300px;
        height: 200px;
      }
    }
  }
}