@font-face {
  font-family: "font1";
  src: url(../font/Oswald-Bold.ttf);
}

@font-face {
  font-family: "font2";
  src: url(../font/SourceSansPro.ttf);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

header {
  background: url(../img/headerBG.jpeg);
}

.btn {
  background: #C7AC92;
  width: 140px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "font2", sans-serif;
  font-size: 0.9rem;
  border: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.btn:hover {
  background: #2A2D34;
  color: #C7AC92;
  border: 1px solid #C7AC92;
}

nav {
  background: #2A2D34;
  height: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  font-size: 1.2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 50px;
}

nav ul li {
  font-family: "font2", sans-serif;
  padding: 10px 15px;
}

nav ul li a, nav ul li a:visited {
  color: #f1f0f0;
  cursor: pointer;
}

nav ul li a:hover, nav ul li a:visited:hover {
  color: #C7AC92;
}

nav .contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1f0f0;
}

nav .contact-nav i {
  margin-right: 15px;
}

nav .contact-nav p {
  font-size: 1.2rem;
}

body {
  height: 100vh;
  width: 100%;
}

header {
  background: url(/assets/img/headerBG.jpeg) center/cover;
  height: 95%;
  width: 100%;
  text-align: center;
}

header .header-opacity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-opacity .header-text-container {
  color: #f1f0f0;
}

header .header-opacity .header-text-container h1 {
  font-family: "font1", sans-serif;
  font-size: 4.5rem;
}

header .header-opacity .header-text-container p {
  font-family: "font2", sans-serif;
  font-size: 1.5rem;
  margin: 50px auto 120px;
}

header .header-opacity .header-infos-container {
  width: 60%;
  height: 30%;
  background: rgba(241, 240, 240, 0.7);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .header-opacity .header-infos-container h2 {
  color: #7A4500;
  font-family: "font2", sans-serif;
  font-size: 2rem;
}

header .header-opacity .header-infos-container .header-infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  font-family: "font2", sans-serif;
  font-size: 1.3rem;
}

header .header-opacity .header-infos-container .header-infos i {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
/*# sourceMappingURL=index.css.map */