@font-face {
  font-family: "font1";
  src: url(../font/Oswald-Bold.ttf);
}

@font-face {
  font-family: "font2";
  src: url(../font/SourceSansPro.ttf);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

.homepage {
  background: url(../img/headerBG.jpeg);
}

.btn {
  background: #C7AC92;
  width: 140px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "font2", sans-serif;
  font-size: 0.9rem;
  border: none;
  padding: 0 20px;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  cursor: pointer;
}

.btn:hover {
  background: #2A2D34;
  color: #C7AC92;
  border: 1px solid #C7AC92;
}

nav {
  background: #2A2D34;
  position: fixed;
  height: 45px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  font-size: 1.2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 50px;
}

nav ul li {
  font-family: "font2", sans-serif;
  padding: 10px 15px;
}

nav ul li a, nav ul li a:visited {
  color: #f1f0f0;
  cursor: pointer;
}

nav ul li a:hover, nav ul li a:visited:hover {
  color: #C7AC92;
}

nav .contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f1f0f0;
}

nav .contact-nav i {
  margin-right: 15px;
}

nav .contact-nav p {
  font-size: 1.2rem;
}

.homepage {
  background: url(../../img/headerBG.jpeg) no-repeat center fixed;
  height: 100vh;
  background-size: cover;
  text-align: center;
}

.homepage .homepage-opacity {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18fr 12fr 1fr;
      grid-template-rows: 18fr 12fr 1fr;
}

.homepage .homepage-opacity .homepage-text-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: auto;
  color: #f1f0f0;
}

.homepage .homepage-opacity .homepage-text-container h1 {
  font-family: "font1", sans-serif;
  font-size: 4.5rem;
  width: 80%;
  margin: 0 auto;
}

.homepage .homepage-opacity .homepage-text-container p {
  font-family: "font2", sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  padding-top: 40px;
  font-weight: bolder;
}

@media screen and (max-height: 800px) {
  .homepage .homepage-opacity .homepage-text-container h1 {
    font-size: 3.2rem;
  }
  .homepage .homepage-opacity .homepage-text-container p {
    font-size: 1.2rem;
    padding-top: 30px;
  }
}

.homepage .homepage-opacity .homepage-infos-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin: auto;
  padding: 20px;
  background: rgba(241, 240, 240, 0.7);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .homepage-opacity .homepage-infos-container h2 {
  color: #7A4500;
  font-family: "font2", sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
}

.homepage .homepage-opacity .homepage-infos-container .homepage-infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  font-family: "font2", sans-serif;
  font-size: 1.3rem;
}

.homepage .homepage-opacity .homepage-infos-container .homepage-infos i {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

@media screen and (max-height: 800px) {
  .homepage .homepage-opacity .homepage-infos-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .homepage .homepage-opacity .homepage-infos-container .homepage-infos {
    font-size: 1rem;
  }
  .homepage .homepage-opacity .homepage-infos-container .homepage-infos i {
    font-size: 2rem;
  }
}

.homepage .homepage-opacity footer {
  background: #2A2D34;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .homepage-opacity footer p {
  color: #f1f0f0;
  font-size: 0.8rem;
  font-family: "font2", sans-serif;
}

.presPage-section-1 {
  margin: 0 auto;
  padding: 5% 10%;
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
}

.presPage-section-1 .presPage-section-1-left {
  background: url(/assets/img/pallet1.jpeg) center/cover;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.529);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.529);
}

.presPage-section-1 .presPage-section-1-right {
  padding-left: 80px;
}

.presPage-section-1 .presPage-section-1-right .presPage-section-1-right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.presPage-section-1 .presPage-section-1-right h1 {
  font-family: "font1", sans-serif;
  font-size: 2.5rem;
  color: #7A4500;
  text-align: center;
  margin-bottom: 20px;
}

.presPage-section-1 .presPage-section-1-right p {
  font-family: "font2", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

.presPage-section-2 {
  margin: 0 auto;
  padding: 5% 10%;
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  background: #C7AC92;
}

.presPage-section-2 .presPage-section-2-left {
  padding-right: 80px;
}

.presPage-section-2 .presPage-section-2-left .presPage-section-2-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.presPage-section-2 .presPage-section-2-left h2 {
  font-family: "font1", sans-serif;
  font-size: 2.5rem;
  color: #7A4500;
  text-align: center;
  margin-bottom: 20px;
}

.presPage-section-2 .presPage-section-2-left p {
  font-family: "font2", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

.presPage-section-2 .presPage-section-2-right {
  background: url(/assets/img/pallet4.jpeg) center/cover;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.529);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.529);
}

.presPage-section-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 5% 10%;
  gap: 50px;
}

.presPage-section-3 h2 {
  font-family: "font1", sans-serif;
  font-size: 2.5rem;
  color: #7A4500;
  text-align: center;
  margin-bottom: 20px;
}

.presPage-section-3 p {
  font-family: "font2", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

.presPage-section-3 img {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.529);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.529);
  display: block;
  margin: 0 auto 40px;
}

.presPage-section-3 .presPage-section-3-left-container img {
  width: 100%;
}

.presPage-section-3 .presPage-section-3-right-container img {
  width: 89%;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.contact-container .contact-text-container {
  height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 4fr;
      grid-template-rows: 2fr 4fr;
}

.contact-container .contact-text-container h1 {
  font-family: "font1", sans-serif;
  font-size: 2.5rem;
  color: #7A4500;
  text-align: center;
  padding-top: 75px;
  text-transform: capitalize;
  border-bottom: 1px solid #C7AC92;
  background: #C7AC92;
}

.contact-container .contact-text-container .contact-infos-container {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 0 30px;
}

.contact-container .contact-text-container .contact-infos-container .contact-infos-icon-container {
  background: #C7AC92;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

.contact-container .contact-text-container .contact-infos-container i {
  font-size: 1.5rem;
  color: #7A4500;
}

.contact-container .contact-text-container .contact-infos-container .contact-infos-container-part1, .contact-container .contact-text-container .contact-infos-container .contact-infos-container-part2, .contact-container .contact-text-container .contact-infos-container .contact-infos-container-part3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

.contact-container .contact-text-container .contact-infos-container .contact-infos-container-part1, .contact-container .contact-text-container .contact-infos-container .contact-infos-container-part2 {
  border-right: 1px solid #C7AC92;
}

.contact-container .contact-text-container .contact-infos-container .contact-infos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "font2", sans-serif;
  font-size: 1.2rem;
}

.contact-container .contact-text-container .contact-infos-container .contact-infos-container-part3 .contact-infos {
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.contact-container .contact-map-container iframe {
  width: 100%;
  height: 50vh;
  border-top: 1px solid #C7AC92;
}
/*# sourceMappingURL=index.css.map */